ejercicio3.dtd

<!ELEMENT pedido (tractor+)>
<!ELEMENT tractor (componente+)>
<!ELEMENT componente ((fechaentrega)?, (fragil | nofragil), peso, numserie, (kmmaximos)?)>
<!ATTLIST componente nombrefabricante CDATA #REQUIRED>
<!ELEMENT fechaentrega (dia?, mes, anio)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT anio (#PCDATA)>
<!ELEMENT fragil EMPTY>
<!ELEMENT nofragil EMPTY>
<!ATTLIST peso unidad CDATA #REQUIRED>
<!ELEMENT numserie (#PCDATA)>
<!ELEMENT peso (#PCDATA)>
<!ELEMENT kmmaximos (#PCDATA)>
