operaciones.dtd

<!ELEMENT operaciones (operacion+)>
<!ELEMENT operacion (venta | compra)*>
<!ELEMENT venta (titulosvendidos)>
<!ELEMENT compra (tituloscomprados)>
<!ELEMENT titulosvendidos (titulo+, cantidadtotal, entregado?)>
<!ELEMENT tituloscomprados (titulo+,proveedor, fechacompra)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT proveedor (#PCDATA)>
<!ELEMENT fechacompra (dia, mes, anio)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT anio (#PCDATA)>
<!ELEMENT entregado EMPTY>
<!ELEMENT cantidadtotal (#PCDATA)>
<!ELEMENT importe (#PCDATA)>
<!ATTLIST importe moneda CDATA #REQUIRED>
